.alert {
  &.confirm-alert {
    .alert-wrapper {
      .alert-head {
        padding: 0 0 16px;
      }

      .alert-message {
        padding-bottom: 24px;
        padding-left: 0;
        padding-right: 0;
      }

      .alert-button-group {
        .alert-button {
          padding: 3px 2px 2px;
        }
      }
    }
  }

  &.info-alert {
    .alert-wrapper {
      .alert-head {
        padding: 0;
      }

      .alert-message {
        color: var(--custom-colors-info);
        font-size: var(--custom-font-size-medium);
        font-weight: 400;
        line-height: 18px;
        max-height: 450px;
        padding: 0;
      }
    }
  }

  .alert-wrapper {
    box-shadow: var(--custom-modal-shadow);
    background-color: var(--custom-colors-white);
    border-radius: var(--custom-modal-border-radius);
    padding: 10px 16px 16px 16px;

    .alert-head {
      text-align: left;

      &:empty {
        padding: 16px 0;
      }

      .alert-title {
        color: var(--custom-colors-black);
        font-size: var(--custom-font-size-regular-larger);
        font-weight: 600;
        line-height: 23px;
        padding: 0;
        text-transform: none;
      }
    }

    .alert-message {
      color: var(--custom-colors-opacity-black-50);
      font-size: var(--custom-font-size-regular-small);
      font-weight: 400;
      line-height: 17px;
      max-height: 240px;
      padding-left: 14px;
      padding-right: 14px;
      text-align: left;
    }

    .alert-button-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: flex-end;
      margin: 0;
      width: 100%;
      padding: 0;
      background: none;

      .alert-button {
        padding: 3px 2px 2px;
        box-shadow: none;
        font-size: var(--custom-btn-link-font-size);
        font-weight: var(--custom-btn-link-font-weight);
        outline: none;
        text-transform: uppercase;
        background: none;

        &:first-child {
          margin: 0;
        }

        &:last-child {
          &:not(:only-child) {
            margin-right: 24px;
          }
        }

        &.btn-primary {
          color: var(--custom-colors-primary);
        }

        &.btn-secondary {
          color: var(--custom-colors-primary);
        }

        &.btn-danger {
          color: var(--custom-colors-danger);
        }

        &.btn-default {
          color: var(--custom-colors-secondary-dark-text);
        }

        &.disabled {
          color: var(--custom-colors-inactive-button);
        }
      }
    }
  }
}
