ion-grid {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 24px;
  padding-bottom: 0;
}

.icon-selection {
  --border-style: none;
  margin-top: 24px;

  ion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #52ae30;
    color: white;
  }

  ion-label {
    margin-left: 8px;
    color: #52ae30;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 18px;
  }
}
