<ion-header>
  <ion-toolbar>
    <ion-title>add-new-alcohol-type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="addNewType()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Strength</ion-label>
        <ion-input formControlName="strength"></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <ion-item>
              <ion-label position="floating">Amount</ion-label>
              <ion-input inputmode="numeric" formControlName="amount"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-select formControlName="volumeType" placeholder="volumeType">
                <ion-select-option value="ml">ml</ion-select-option>
                <ion-select-option value="L">L</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>



      <ion-item *ngIf="!selectedIcon" class="icon-selection" (click)="addNewIcon()">
        <ion-icon name="add"></ion-icon>
        <ion-label>Add icon</ion-label>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="selectedIcon" class="icon-selection" (click)="addNewIcon()">
      <div class="alcohol-icon {{selectedIcon?.icon}}"></div>
      <ion-label>{{selectedIcon?.name}}</ion-label>
    </ion-item>

    <div class="btn-container-block">
      <ion-button type="submit" expand="block" color="primary" [disabled]="formGroup.invalid || !selectedIcon">
        Add
      </ion-button>
    </div>
  </form>
</ion-content>
