<ion-header>
  {{userName}}
  <ion-fab class="settings" vertical="top" horizontal="end">
    <ion-fab-button (click)="showSettings()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="areSettingsShown" side="top">
      <div class="actions">
        <div *ngFor="let item of settings" class="item-actions" (click)="redirectToPage(item.path)">
          <div>{{item.label}}</div>
        </div>
      </div>
    </ion-fab-list>
    <ion-backdrop *ngIf="areSettingsShown" class="account-actions-overlay" (ionBackdropTap)="hideSettings()"></ion-backdrop>
  </ion-fab>
</ion-header>

<ion-content [fullscreen]="true">
  <session-result-list></session-result-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="moveToNewSessionPage()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

