<ion-toolbar mode="md">
  <ion-buttons slot="start">
    <ion-back-button *ngIf="backButtonHref && !blockScreen"
                     icon="arrow-back-button"
                     mode="md"
                     [defaultHref]="backButtonHref"
                     (click)="goToPreviousPage()">
    </ion-back-button> -->
  </ion-buttons>

  <ion-title>
    <div class="ion-title-content">
      <div *ngIf="!pageTitle" class="logo-image"></div>
      <div *ngIf="pageTitle" class="title-text ellipsis">{{pageTitle}}</div>
    </div>
  </ion-title>

  <ion-buttons slot="end">
    <ion-button>Settings</ion-button>
  </ion-buttons>
</ion-toolbar>
